.visual {
    background: #151a1d;
    .container {
        position: relative;
        z-index: 0;
        height: pxToRem(800);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .particle1 {
        position: absolute;
        left: pxToRem(-85);
        top: pxToRem(100);
        z-index: -1;
    }
    .particle2 {
        position: absolute;
        left: pxToRem(-70);
        top: pxToRem(104);
        z-index: -1;
    }
    .text {
        h1 {
            font-size: pxToRem(48);
            font-weight: bold;
            color: #fff;
            line-height: 1.2;
            letter-spacing: normal;
            margin-bottom: pxToRem(35);
        }
        p {
            font-size: pxToRem(18);
            font-weight: 300;
            color: #ccc;
            line-height: 1.8;
            max-width: pxToRem(436);
        }
        .more {
            color: #fff;
            font-size: pxToRem(18);
            font-weight: 300;
            line-height: 2;
            margin: pxToRem(14) 0 pxToRem(60);
        }
        .btn-download {
            width: pxToRem(246);
            font-weight: 700;
            img {
                margin-right: pxToRem(10);
            }
        }
        .extra-info {
            margin-top: pxToRem(10);
            font-size: pxToRem(14);
            font-weight: 300;
            color: #777;
        }
        .platform {
            margin-top: pxToRem(30);
            a {
                color: #333;
                margin-right: pxToRem(30);
            }
        }
    }
    .img {
        max-width: pxToRem(557);
    }

    .dots {

    }
    nav {
        display: flex;
        justify-content: center;
        background: #1b2227;
        a {
            position: relative;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: pxToRem(280);
            height: pxToRem(80);
            color: #fff;
            font-size: pxToRem(15);
            opacity: 0.3;
            &.is-active {
                opacity: 1;
            }
            &::before {
                content: '';
                display: block;
                width: pxToRem(22);
                height: pxToRem(22);
                margin-right: pxToRem(18);
            }
            &.caster::before {
                background: $topaz;
            }
            &.chat::before {
                background: $yellow;
            }
            &.cam::before {
                background: $purple;
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: -1;
                background: $dark;
                transform: skew(-15deg);
                opacity: 0;
            }
            &.is-active::after {
                opacity: 1;
            }
        }
    }
}

.features {
    padding: pxToRem(150) 0;
    .item {
        display: flex;
        justify-content: space-between;
        &:nth-child(2n) {
            flex-direction: row-reverse;
        }
        + .item {
            margin-top: pxToRem(150);
        }
        .text {
            max-width: 325px;
            h3 {
                font-size: pxToRem(18);
                font-weight: bold;
                color: $topaz;
                margin-bottom: pxToRem(20);
            }
            h2 {
                font-size: pxToRem(42);
                color: #000;
                line-height: 1.3;
                font-weight: 500;
                white-space: pre-wrap;
                margin-bottom: pxToRem(30);
            }
            p {
                font-size: pxToRem(20);
                color: #222;
                line-height: 1.6;
                font-weight: 400;
                word-break: break-all;
            }
        }
        .media {
            width: pxToRem(760);
            height: pxToRem(500);
            background: $dark;
            flex-shrink: 0;
            border-radius: pxToRem(6);
        }
    }
}

.download {
    background: #151a1d;
    .container {
        height: pxToRem(400);
        position: relative;
        z-index: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .parttern1 {
            position: absolute;
            z-index: -1;
        }
        .parttern2 {
            position: absolute;
            z-index: -1;
        }
        .btn-download {
            width: pxToRem(260);
            font-weight: 700;
            img {
                margin-right: pxToRem(10);
            }
        }
        .extra-info {
            margin-top: pxToRem(10);
            font-size: pxToRem(14);
            font-weight: 300;
            color: #777;
        }
        h2 {
            font-size: pxToRem(24);
            color: #fff;
            margin-top: pxToRem(50);
        }
        .update {
            position: absolute;
            bottom: 0;
            width: pxToRem(1060);
            height: pxToRem(48);
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            background-color: #00befd;
            border-radius: pxToRem(5) pxToRem(5) 0 0;
            img {
                position: absolute;
                right: pxToRem(10);
            }
        }
    }
}

.footer {
    padding: pxToRem(50) 0;
    background: #000;
    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    p {
        text-align: center;
        color: #555;
        font-size: pxToRem(10);
        font-weight: 700;
        margin-top: pxToRem(21);
    }
    nav {
        display: flex;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ccc;
            font-size: pxToRem(14);
            padding-right: pxToRem(30);
            &.logo {
                font-weight: 800;
            }
        }
    }
    .dropdown {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        font-size: pxToRem(12);
        font-weight: 500;
        background-color: #111;
        .name {
            width: pxToRem(93);
            height: pxToRem(32);
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                margin-left: pxToRem(10);
            }
        }
        .options {
            display: none;
            .option {
                height: pxToRem(32);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}