#header {
  background-color: #151a1d;
  .container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    display: flex;
    width: 64px;
    height: 36px;
    font-size: 23px;
    font-weight: 900;
    line-height: 1.5;
    color: #fff;
  }
  .gnb {
    height: 80px;
    display: flex;
    align-items: center;
    nav {
      ul {
        display: flex;
        li {
          display: flex;
          align-items: center;
          margin-right: 64px;
          a {
            height: 80px;
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #fff;
            opacity: 0.6;
            margin-right: 10px;
          }
        }
      }
    }
    .user {
      display: flex;
      align-items: center;
      margin-left: 43px;
      p {
        margin-right: 10px;
        color: #fff;
        font-size: 14px;
      }
    }
  }
}

main {
  .visual {
    background: #151a1d url("../images/main_bg_parttern_1.png");
    padding-top: 72px;
    .slide {
      display: flex;
      justify-content: space-between;
      margin-top: 18px;
      margin-bottom: 93px;
      .description {
        .title {
          margin-bottom: 100px;
          h1 {
            font-size: 48px;
            font-weight: bold;
            line-height: 1.31;
            color: #fff;
            margin-bottom: 15px;
          }
          p {
            font-size: 18px;
            font-weight: 300;
            line-height: 1.89;
            color: #ccc;
          }
        }
        .button {
          margin-bottom: 30px;
          img {
            margin-right: 10px;
          }
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 246px;
            height: 60px;
            border-radius: 6px;
            background-color: #14cac1;
            color: #151a1d;
            font-size: 18px;
            font-weight: bold;
          }
          p.sub {
            font-size: 14px;
            font-weight: 300;
            color: #777;
            margin-top: 10px;
          }
        }
        .platforms {
          p {
            font-size: 16px;
            font-weight: 300;
            color: #fff;
            margin-bottom: 20px;
          }
          a {
            margin-right: 30px;
          }
        }
      }
    }

    .tab-menu {
      position: relative;
      background-color: #1b2227;
      opacity: .9;
      ul {
        position: relative;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        li {
          width: 280px;
          height: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          .box {
            width: 22px;
            height: 22px;
            margin-right: 10px;
          }
          a {
            font-size: 15px;
            color: #fff;
          }
          &:nth-child(1) {
            background-color: #151a1d;
            .box {
              background-color: #14cac1;
            }
          }
          &:nth-child(2) {
            .box {
              background-color: #ddb418;
            }
          }
          &:nth-child(3) {
            .box {
              background-color: #7167ff;
            }
          }
        }
      }
    }
  }

  .contents {
    padding-bottom: 215px;
    .item {
      padding-top: 215px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .description {
        padding-right: 48px;
        &.left {
          padding-right: 0;
          padding-left: 48px;
        }
        h3 {
          font-size: 18px;
          color: #14cac1;
          font-weight: 900;
          margin-bottom: 14px;
        }
        h2 {
          font-size: 42px;
          line-height: 1.29;
          font-weight: 900;
          margin-bottom: 30px;
          color: #000;
        }
        h4 {
          font-size: 20px;
          line-height: 1.7;
          color: #222;
        }
      }
      .thumb {
        background-color: #272c33;
        width: 760px;
        height: 500px;
      }
    }
  }
}

#footer {
  .download {
    background: #1b2227 url("../images/main_bg_parttern_1.png");
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .button-down {
      padding-top: 140px;
      margin-bottom: 59px;
      a {
        background-color: #14cac1;
        width: 246px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #151a1d;
        margin-bottom: 10px;
        border-radius: 6px;
        img {
          margin-right: 8px;
        }
      }
      p.sub {
        font-size: 14px;
        font-weight: 300;
        color: #777;
      }
    }
    p {
      font-size: 24px;
      color: #fff;
      font-weight: 300;
      margin-bottom: 22px;
    }
    .version-bar {
      position: relative;
      a {
        width: 1060px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-color: #00befd;
        border-radius: 5px 5px 0 0;
        img {
          position: absolute;
          right: 12px;
        }
      }
    }
  }
  .footer-menu {
    padding: 50px 0;
    background-color: #000;
    .container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .links {
      position: relative;
      display: flex;
      a {
        height: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        color: #ccc;
        font-size: 14px;
        padding-right: 62px;
        &.em {
          font-weight: 900;
        }
        img {
          position: absolute;
          right: 12px;
        }
      }
    }
    .language {
      position: absolute;
      right: 0;
      .name {
        width: 93px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        background-color: #111;
        img {
          margin-left: 17px;
        }
      }
    }
    p {
      text-align: center;
      color: #555;
      font-size: 10px;
      font-weight: 300;
      margin-top: 21px;
    }
  }
}